<h1>Welcome to Home page</h1>

<div>
    <form>
        <input type="text" placeholder="name">
        <input type="number" placeholder="Mobile">
        <input type="date" placeholder="DOB">
        <input type="number" placeholder="Age">
        <button type="submit">Submit</button>
    </form>
</div>